<!DOCTYPE html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <!-- Page Title Here -->
    <title>Appex</title>

    <!-- Page Description Here -->
    <meta name="description"
        content="A beautiful and creative portfolio template. It is mobile friend (responsive) and comes with smooth animations">

    <!-- Disable screen scaling-->
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <!-- Web fonts and Web Icons -->
    <link rel="stylesheet" href="/pub/fonts/opensans/stylesheet.css">
    <link rel="stylesheet" href="/pub/fonts/montserrat/stylesheet.css">
    <link rel="stylesheet" href="/pub/fonts/roboto/stylesheet.css">
    <link rel="stylesheet" href="/pub/fonts/bebas/stylesheet.css">
    <link rel="stylesheet" href="/pub/fonts/ionicons.min.css">

    <!-- Vendor CSS style -->
    <link rel="stylesheet" href="/pub/css/pageloader.css">

    <!-- Uncomment below to load individualy vendor CSS -->
    <link rel="stylesheet" href="/pub/css/foundation.min.css">
    <link rel="stylesheet" href="/pub/js/vendor/swiper.min.css">
    <link rel="stylesheet" href="/pub/js/vendor/jquery.fullpage.min.css">
    <link rel="stylesheet" href="/pub/js/vegas/vegas.min.css">

    <!-- Main CSS files -->
    <link rel="stylesheet" href="/pub/css/main.css">
    <!-- alt layout -->
    <link rel="stylesheet" href="/pub/./css/style-color1.css">
    <script src="/pub//js/vendor/modernizr-2.7.1.min.js"></script>
</head>
<html>
{{{body}}}

</html>